body {
	background-color: #CCFFFF
}

h1 {
	text-align: center;
	font-size: 20px;
	font-family: Sans-Serif, Garamond;
	background-color: #000000
}

figure {
	margin: auto;
	border: 2px solid black;
}

div {
	border-radius: 5px;
	border: 2px solid #FF3300;
	background-color: #FFFFFF
	height: 50px;
	width: 120px;
	margin: auto;
	text-align: center;
}

a {
	text-decoration: none;
	color: #FF3300
	font-family: Garamond, Verdana;
}

span {
	font-weight: bold;
	font-size: 18px;
	color: #000000
}